.cardbody {
    width: 295px;
    display: inline-block;
    overflow: hidden;
    margin: 7px;
    border-radius: 25px;
    border: 1px solid lavender;
    box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
 }
 .cardimg img {
    position: relative;
    height: 140px;
    width: 100%;
    cursor: pointer;
 }
 
 .cardinfo {
    display: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 20px 30px;
 }
 .cardinfo h3 {
    font-size: 18px;
    font-weight: 700;
 }
 .cardinfo p {
    font-size: 14px;
    font-weight: 600;
 }
 .search-input{
   border: 2px solid rgb(191, 25, 25);
   padding: 5px;
   max-width: 400px;
   max-height: 45px;
   font-size: 25px;
   margin-left: 450px;
   margin-top: 10px;
   margin-bottom: 10px;
 }
   /* .search-input:focus {
      outline: none;
   } */