.details{
    flex-direction: row ;
    margin: 20px;
    display:"flex";
    background: #231e39;
}
.detailNames, .detailNamess{
    margin-left: 10px;
}
.card-container {
    display: flex;
    margin: 50px;
    background: #231e39;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #b3b8cd;
    height: 210px;
    width: 880px;
    padding: 15px;
}

.round {
    display: flex;
    height: 180px;
    width: 290px;
    margin: 10px auto;
    border: 1px solid #03bfcb;
    border-radius: 2px;
    padding: 7px;
    cursor: progress;
}
.detailNamess :hover {
    color: #03bfcb;
}