.imgdiv2{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgdiv2 img{
 opacity: 0.9;
}

.compHead{
    position: absolute;
    z-index: 10;
    font-size: 35px;
    color: rgb(227, 230, 234);
    font-weight: 700;
    top: 70%;
}
.compspan{
    position: absolute;
    z-index: 10;
    font-weight: 500;
    font-size: 20px;
    color: rgb(242, 247, 251);
    top: 85%;
}

.overlay{
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: black;
}